/*-----Fecha---------- */
.top {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.middle {
    display: flex;
    position: relative;
}

.bot {
    display: flex;
    position: relative;
    flex: auto;
}
.containerDate {
    position: relative;
    width: 150px;
}
.date {
    text-align:center;
    font-size: 18px;
}
/* ---------------------*/


/*---Titulo de cada formulario---*/
.cotizacionPanel {
    margin-top: 50px;
}
.titleLine {
    background-color: #1890FF;
    position: relative;
    display: flex;
    height: 25px;
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.titleLine p {
    /* Datos de cliente */

    height: 21px;
    font-style: normal;
    font-weight: normal;
    font-family: var(--fuente);
    line-height: 21px;
    color: #FFFFFF;
    font-size: 16px;
}

/*---Formulario layout---------- */
.clientForm {
    width: 400px;
    position: relative;
    margin: 0 30px 20px 0;
}
.materialsForm {
    position: relative;
    flex: auto;
    margin: 0 0 30px 0;
    height: 350px;
}

.otherForm {
    width: 500px;
    position: relative;
    margin-right: 30px;
}
.observationForm {
    position: relative;
    flex: auto;
    margin-right: 30px;
}
.totalDisplay {
    position: relative;
    width: 220px;
}

.final {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-content: flex-start;
    align-self: flex-end;
}

.total {
    text-align:center;
    font-size: 32px; 
}
.unitTotal {
    text-align:center;
    font-size: 17px;
    width: 140px;
}
.materialsForm .ant-table-container{
    overflow-y: scroll;
    max-height: 280px;
}
@media screen and (max-width: 1900px) {
    .clientForm {
        margin: 0 30px 10px 0;
    }
    .materialsForm {
        margin: 0 0 10px 0;
        height: 195px;
    }
    .cotizacionPanel {
        margin-top: 5px;
    }
    .materialsForm .ant-table-container{
        max-height: 120px;
    }
}