:root {
    --fuente: 'Roboto';
    }
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: white;
}
p {
    color:black;
    font-family: var(--fuente);
    font-size: 14px;
}
.subTitle {
    margin: 0;
    line-height: 1.15;
    font-size: 32px;
    flex: auto;
    font-family: var(--fuente);
    margin-bottom: 5px;
}

option {
    color: white
}

* {
    box-sizing: border-box;
}
