.site-layout-content {
    padding: 30px;
    min-height: 100vh;
  }
.layout {
  display: flex;
}
.logo-img {
  display: flex;
  margin-left: 40px;
}
@media screen and (max-width: 1900px) {
	.site-layout-content {
    padding: 15px;
  }
}